@{
    ViewBag.Title = "Home Page";
    var data = ViewBag.Data;
}
@*<iframe src="@data">*@
<h2>@ViewBag.Data</h2>
@*  </iframe>*@
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
